<header class="fixed-nav-bar">
  <div class="header">
    <ul class="main">
         <li class="grow"><a href="/#/register" class="nav-bar">Register</a></li>
         <li class="grow"><a href="/#/login" class="nav-bar">Login</a></li>
    </ul>
  </div>
</header>

<div id="background">
  <div class="background-image">
    <div class="main-row">
      <div class="col-xs-2 col-md-2"></div>
      <div class="col-xs-8 col-md-8">
        <div id="title">
          <div class="name">
            <h2 class="title-title">Welcome to Tag Along!</h2>
            <h3 class="title-name"><span style="color:red">Login</span> | <span style="color: #F5CD1A">Explore</span> | <span style="color:green">Road Trip</span></h3>
          <div id="buttons">
            <a href="/#/login" id="desc-main" data-toggle="modal" data-target="#myModal">Login</a>
            <a href="/#/register" id="desc-resume">Register</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-md-2"></div>
    </div>
  </div>
</div>



