
<header class="fixed-nav-bar">
  <div class="header">
    <ul class="main">
         <li class="grow"><a href="/#/register" class="nav-bar">Register</a></li>
         <li class="grow"><a href="/#/login" class="nav-bar">Login</a></li>
         <li class="grow"><a href="/" class="nav-bar">Home</a></li>
    </ul>
  </div>
</header>

<div id="background">
  <div class="background-image">
    <div class="main-row">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-7 col-md-7">


        <div class="container user">
          <div class="row col-sm-6 col-sm-offset-3">
            <form ng-submit="user.newUser()">
              <!-- USERNAME INPUT -->

              <label style="color: lightblue; font-size: 2.4em">Name</label>
              <input type="text" class="form-control" ng-model="user.loginData.name">
              <label style="color: lightblue; font-size: 2.4em">Email</label>
              <input type="email" class="form-control" ng-model="user.loginData.email">
              <label style="color: lightblue; font-size: 2.4em">Username</label>
              <input type="text" class="form-control" ng-model="user.loginData.username">
              <label style="color: lightblue; font-size: 2.4em">Password</label>
              <input type="password" class="form-control" ng-model="user.loginData.password">
              <br>
              <br>
              <!-- LOGIN BUTTON -->
              <button type="submit" class="btn btn-block btn-success">
                <span style="font-weight: bold; font-size: 1em;">Register</span>
              </button>
            </form>
          </div>
        </div>



      </div>
      <div class="col-xs-4 col-md-4"></div>
    </div>
  </div>
</div>





